<?xml version="1.0"?>
<launch>
    <node pkg="robot_hardware_interface" type="gpio" name="gpio"><!-- launch-prefix="sudo -E LD_LIBRARY_PATH=$(optenv LD_LIBRARY_PATH)"-->
        <rosparam param="motors">[leftMotor]</rosparam>
        <rosparam param="encoders">[leftEncoder]</rosparam>

        <rosparam param="leftMotor/topic">motor_left</rosparam>
        <rosparam param="leftMotor/pin_direction">2</rosparam>
        <rosparam param="leftMotor/pin_pwm">3</rosparam>
        <rosparam param="leftMotor/pin_power">4</rosparam>

        <rosparam param="leftEncoder/topic">encoder_left</rosparam>
        <rosparam param="leftEncoder/pinA">17</rosparam>
        <rosparam param="leftEncoder/pinB">27</rosparam>
    </node>
</launch>
