<?xml version="1.0"?>
<launch>
    <arg name="Kp" value="1680"/>
    <arg name="Ki" value="4200"/>
    <arg name="Kd" value="12"/>
    <arg name="base_width" value="0.2"/>
    <rosparam param="ticks_meter">12011.6938182563</rosparam>

    <!-- Load the differential drive controller -->
    <node pkg="differential_drive" type="diff_tf.py" name="diff_tf">
       <rosparam param="rate">20.0</rosparam>
       <rosparam param="base_width" subst_value="true">$(arg base_width)</rosparam>
       <rosparam param="base_frame_id">base_link</rosparam>
       <remap from="lwheel" to="encoder_left"/>
       <remap from="rwheel" to="encoder_right"/>
    </node>

    <!--node pkg="differential_drive" type="wheel_scaler.py" name="wheel_scaler" output="screen"/-->
    <node pkg="differential_drive" type="pid_velocity" name="lpid_velocity">
        <rosparam param="Kp" subst_value="true">$(arg Kp)</rosparam>
        <rosparam param="Ki" subst_value="true">$(arg Ki)</rosparam>
        <rosparam param="Kd" subst_value="true">$(arg Kd)</rosparam>
        <rosparam param="rate">20</rosparam>
        <rosparam param="rolling_pts">3</rosparam>
        <remap from="wheel" to="encoder_left"/>
        <remap from="motor_cmd" to="motor_cmd_left"/>
        <remap from="wheel_vtarget" to="lwheel_vtarget"/>
        <remap from="wheel_vel" to="lwheel_vel"/>
    </node>
    <node pkg="differential_drive" type="pid_velocity" name="rpid_velocity">
        <rosparam param="Kp" subst_value="true">$(arg Kp)</rosparam>
        <rosparam param="Ki" subst_value="true">$(arg Ki)</rosparam>
        <rosparam param="Kd" subst_value="true">$(arg Kd)</rosparam>
        <rosparam param="rate">20</rosparam>
        <rosparam param="rolling_pts">3</rosparam>
        <remap from="wheel" to="encoder_right"/>
        <remap from="motor_cmd" to="motor_cmd_right"/>
        <remap from="wheel_vtarget" to="rwheel_vtarget"/>
        <remap from="wheel_vel" to="rwheel_vel"/>
    </node>

    <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
      <rosparam param="base_width" subst_value="true">$(arg base_width)</rosparam>
      <rosparam param="rate">20</rosparam>
      <rosparam param="timeout_ticks">10000</rosparam>
    </node>

    <rosparam file="$(find robot_base)/launch/test-pins.yml" />
    <node pkg="robot_hardware_interface" type="gpio" name="gpio" respawn="true" />
</launch>
